/* Barebones Compass layout styles
 *
 * Grid styles
 */

$layout-grid-columns:        12 !default;
$layout-grid-column-width:   60px !default;
$layout-grid-column-spacing: 20px !default;

// Calculate row magin and column padding
$layout-grid-row-margin: -($layout-grid-column-spacing / 2);
$layout-grid-col-padding: $layout-grid-column-spacing / 2;

.row {
    margin: 0 $layout-grid-row-margin;

    @extend %clearfix;

    .layout-container-fluid > & {
        margin: 0;
    }

    %col {
        min-height: 1px;

        padding: 0 $layout-grid-col-padding;

        float: left;

        position: relative;
    }

    @for $i from 1 through $layout-grid-columns {
        > .col-#{$i} {
            // column padding is included because of border-box
            width: ($layout-grid-column-width + $layout-grid-column-spacing) * $i;

            @extend %col;

            .layout-container-fluid > & {
                width: (100% / $layout-grid-columns) * $i;
            }
        }
    }
}
