/* Barebones Compass layout styles
 *
 * Header styles
 */
$layout-header-fixed: false !default;

.layout-header {
    @if ($layout-header-fixed != false and $layout-header-height > 0) {
        height: $layout-header-height;
        position: static;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
    	z-index: 300;
        margin-bottom: 20px;
        transition:background-color .15s linear;
    } @else if ($layout-header-height > 0) {
        height: $layout-header-height;
    }
}

.scrolled{
    position: fixed !important;
    // width: 100%;
    top:0;
    left: 0;
    right: 0;
}
.top-header{
    padding: 25px 0;
    position: relative;
    height: 130px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .logo-block{
        text-align: center;
        display: block;
        position: relative;
        z-index: 99999;
        img{
            display: inline-block;
        }
    }
    .lang-block{
        position: absolute;
        top:25px;
        right: 0;
        ul{
            li{
                display: inline-block;
                width: 30px;
                a{
                    color:$gold;
                    letter-spacing: 0.5px;
                    font-size: 13px;
                    &.active{
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
    }
}

.bottom-header{
    z-index: 300;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 65px;
    padding: 8px 0;
    ul{
        text-align: center;
        margin: 4px 0;
    width: 100%;
        li{
            display: inline-block;
            width: 13%;
            cursor: pointer;
            &.active a{
                color:$gold;
                &:hover{
                    &:before,
                    &:after{
                        width: 0;
                    }
                }
            }
            &:nth-of-type(3){
                width: 16%;
            }
            a{  
                position: relative;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                font-family: Circe;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 1.5px;
                color:#000;
                margin: 20px 0;
                &:after{
                    display: block;
                    position: absolute;
                    content: "";
                    bottom: -2px;
                    right: 50%;
                    width: 0;
                    height: 1px;
                    background-color: #000;
                    transition: width .15s linear;
                }
                &:before{
                    display: block;
                    position: absolute;
                    content: "";
                    bottom: -2px;
                    left: 50%;
                    width: 0;
                    height: 1px;
                    background-color: #000;
                    transition: width .15s linear;
                }

                &:hover{
                    &:before{
                        width: 50%;
                    }
                    &:after{
                        width: 50%;
                    }
                }
            }
        }
    }
}

.menu-icon{
    
}