##
## ARCHIVES
## --------
# It's better to unpack these files and commit the raw source because
# git has its own built in compression methods.
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

# Packing-only formats
*.iso
*.tar

# Package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp

##
## EDITORS
## -------
.tmproj
*.esproj
.sublime-grunt.cache
*.sublime-workspace
.idea
*.bak
*.sym
.c9revisions
.c9
.project
.buildlog
_notes
dwsync.xml
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.cache
*.komodoproject
.komodotools

##
## OS-SPECIFIC
## -----------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
.directory
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

##
## MISC
## ----
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi

# Folders to ignore
node_modules
# leave this in for back-compat
bower_components

# Sass
.sass-cache

# photoshop files
*.psd

##
## PROJECT-SPECIFIC
## ----------------
# ignore vendor files
src/vendor/**
src/styles/generated/**
src/generated/**
# ignore compiled files, they should be re-compiled on deploy
dist/**
dev/**
