<div class="layout-footer">
	<div class="footer-menu">
		<ul>
			<li><a href="">коллекция</a></li>
			<li><a href="">выставки</a></li>
			<li><a href="">наши проекты</a></li>
			<li><a href="">издания</a></li>
			<li><a href="">новости</a></li>
			<li><a href="">патерны</a></li>
			<li><a href="">контакты</a></li>
		</ul>
	</div>

	<div class="social-links-block">
		<a href="" class="social-item gold en"><i>V</i><i>k</i><i>o</i><i>n</i><i>t</i><i>a</i><i>k</i><i>t</i><i>e</i></a>
		<a href="" class="social-item gold en"><i>F</i><i>a</i><i>c</i><i>e</i><i>b</i><i>o</i><i>o</i><i>k</i></a>
		<a href="" class="social-item gold en"><i>I</i><i>n</i><i>s</i><i>t</i><i>a</i><i>g</i><i>r</i><i>a</i><i>m</i></a>
	</div>

	<div class="main-title wow"><span>КОНТАКТНАЯ ИНФОРМАЦИЯ</span></div>

	<div class="footer-contacts">
		<div class="contacts">
			<div class="phone">Пресс-служба  +38 057 731 27 30</div>
			<div class="mail">press@feldmancollection.org</div>
		</div>
		<div class="copyrights">© Feldmancollection. All Rights Reserved</div>
		<div class="madeby">Site made with love by</div>
	</div>
</div>
