<div class="layout-footer">
	<div class="footer-menu">
		<ul>
			<li><a href="">коллекция</a></li>
			<li><a href="">выставки</a></li>
			<li><a href="">наши проекты</a></li>
			<li><a href="">издания</a></li>
			<li><a href="">новости</a></li>
			<li><a href="">патерны</a></li>
			<li><a href="">контакты</a></li>
		</ul>
	</div>

	<div class="social-links-block">
		<a href="" class="social-item">Vkontakte</a>
		<a href="" class="social-item">Facebook</a>
		<a href="" class="social-item">Instagram</a>
	</div>

	<div class="main-title"><span>КОНТАКТНАЯ ИНФОРМАЦИЯ</span></div>

	<div class="footer-contacts">
		<div class="contacts">
			<div class="phone">Пресс-служба  +38 057 731 27 30</div>
			<div class="mail">press@feldmancollection.org</div>
		</div>
		<div class="copyrights">© Feldmancollection. All Rights Reserved</div>
		<div class="madeby">Site made with love by</div>
	</div>
</div>
