<!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="page-preloader">
        </div>
        <div class="container mobile-place">
            <div class="layout-header">
            	<div class="top-header">
            		<a href="main.html" class="logo-block">
                        <img src="images/logo.svg" alt="logo">
                    </a>
                    <div class="lang-block">
                        <ul>
                            <li><a class="active" href="">Укр</a></li>
                            <li><a href="">Рус</a></li>
                            <li><a href="">Eng</a></li>
                        </ul>
                    </div>
            	</div>

                <div class="menu-icon"><div class="hamb"></div></div>
            	<div class="bottom-header container">
            		<ul>
            			<li><a href="collections.html">коллекция</a></li>
            			<li><a href="exhibitions.html">выставки</a></li>
            			<li><a href="projects.html">наши проекты</a></li>
            			<li><a href="publications-list.html">издания</a></li>
            			<li><a href="news.html">новости</a></li>
            			<li><a href="partners.html">партнеры</a></li>
            			<li><a href="contacts.html">контакты</a></li>
            		</ul>
            	</div>
            </div>
        </div>
