<!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="page-preloader">
            <div class="preloader-itself flash" ></div>
        </div>
        <div class="container">
            <div class="layout-header">
            	<div class="top-header">
            		<a href="main.html" class="logo-block">
                        <img src="images/logo.svg" width="170" height="73" alt="logo">      
                    </a>
                    <div class="lang-block">
                        <ul>
                            <li><a class="active" href="">Укр</a></li>
                            <li><a href="">Рус</a></li>
                            <li><a href="">Eng</a></li>
                        </ul>
                    </div>
            	</div>
            	<div class="bottom-header container">
                    <div class="menu-icon"></div>
            		<ul>
            			<li><a href="collections.html">коллекция</a></li>
            			<li><a href="">выставки</a></li>
            			<li><a href="">наши проекты</a></li>
            			<li><a href="">издания</a></li>
            			<li><a href="">новости</a></li>
            			<li><a href="">патерны</a></li>
            			<li><a href="">контакты</a></li>
            		</ul>
            	</div>
            </div>
        </div>
