/* Barebones Compass list styles
 *
 * List element styles
 */

ul,
ol {
    margin: $base-margin 0;
    padding: 0;
    padding-left: $base-margin;

    &.list-unstyled {
        padding-left: 0;
        list-style: none;
    }
}

li {
    margin: ($base-margin / 2) 0;
}
