
.about-museum-block{
	position: relative;
	width: 85%;
	padding: 50px 100px;
	background-color: #fff;
	border: 1px solid $gold;
	margin: 20px auto 65px;
	z-index: 20;
	top:-70px;;

	.am-content{
		display: inline-block;
		position: relative;
		max-width: 400px;
		z-index: 5;
	}
	h2{
		color: #000d21;
		margin: 5px 0 10px;
	}
	.am-photo{
		position: absolute;
		bottom: -7px;
		right: 10px;
		z-index: 1;
		img{
			width: 90%;
		}
	}
}

	.second-name{
		font-family: Circe;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 4px;
		line-height: 26px;
		text-transform: uppercase;
	}
.grey-buttons-block{
	width: 80%;
	margin: 0 auto 130px;

	.btn-grey{
		position: relative;
		display: inline-block;
	    width: 48%;
	    height: 100px;
	    padding: 32px 10px 20px 10px;
	    max-width: 500px;
	    text-align: center;
	    border:1px solid $grey;
	    box-shadow: 0 0 0 4px $grey;
	    color:#000;
	    font-family: Heuristica;
	    font-size: 20px;
	    font-weight: bold;
	    background-color: $grey;
	    transition: color .15s linear, border-color .15s linear;
	    &:first-of-type{
			margin-right: 30px;
	    }
	    &:hover{
	    	// border:1px solid $gold;
	    	color: $gold;

			.border-block{
				.t{width: 100%;transition:all .2s linear;}
				.r{height: 100%;transition:all .1s .2s linear;}
				.b{width: 100%;transition:all .2s .3s linear;}
				.l{height: 100%;transition:all .1s .5s linear;}
			}
			.gold.bold{
				i{
					color:$gold !important;
				}
			}

	    }

	    .gold.bold{
				color:#000;
				i{
					font-family: Heuristica;
				    font-size: 20px;
				    font-weight: bold;
				    margin-left: -4px;
				    font-style: normal;
				    .space{
				    	width: 8px !important;
				    }
				}			
			}
	    .border-block{
			width: 98%;
	    }
	}
}

.main-title{
	display: block;
	position: relative;
	width: auto;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
	
    margin: 10px auto 65px;
	transition:all .35s linear;
	visibility: visible!important;
	span{
		background-color: #fff;
		padding: 10px 30px;
	}
	&:before,
	&:after{
		display: block;
		position: absolute;
		content: "";
		top:50%;
		width: 0;
		height: 1px;
		background-color: rgba(0,0,0,0.1);
		transition:all .75s .1s linear;
		z-index: -1;
	}
	&:before{
		left: 50%;
	}
	&:after{
		right: 50%;
	}

	&.animated{
		&:before,
		&:after{
			width: 50%;
		}
	}

}
.visible{
	visibility: visible!important;
}

.gold{
	color:$gold;
	&:focus{
		outline: none;
	}
	i{
		display: inline-block;
		transition:color .24s linear;
		margin-left: -3px;
		font-family: Heuristica;
		&.space{
			transition-delay: .12s;
			width: 3px;
		}
		&:nth-of-type(1){
			// transition-delay: .01s;
		}
		&:nth-of-type(2){
			transition-delay: .03s;
		}
		&:nth-of-type(3){
			transition-delay: .06s;
		}
		&:nth-of-type(4){
			transition-delay: .09s;
		}
		&:nth-of-type(5){
			transition-delay: .012s;
		}
		&:nth-of-type(6){
			transition-delay: .15s;
		}
		&:nth-of-type(7){
			transition-delay: .18s;
		}
		&:nth-of-type(8){
			transition-delay: .21s;
		}
		&:nth-of-type(9){
			transition-delay: .24s;
		}
		&:nth-of-type(10){
			transition-delay: .27s;
		}
		&:nth-of-type(11){
			transition-delay: .3s;
		}
		&:nth-of-type(12){
			transition-delay: .33s;
		}
		&:nth-of-type(13){
			transition-delay: .36s;
		}
	}
	&.en{
		i{
			margin-left: 0;
		}
	}
	&:hover i{
		color:#000;
	}
	&.colps{
		display: block;
		margin-top: 5px;
	}
}
.our-show-block {
    margin-bottom: 125px;
}
.news-block{
	width: 100%;
	margin: 50px auto;
	.news-item{
		display: inline-block;
		width: 30%;
		max-width: 360px;
		margin-right: 43px;
		margin-bottom: 50px;
		vertical-align: top;
		&:nth-of-type(3n){
			margin-right: 0;
		}
		.date{
			color:$gold;
			letter-spacing: 0.3px;
		}
		h4{
			margin-top: 5px;
			transition:color .15s linear;
			cursor: pointer;
			letter-spacing: 0.5px;
			&:hover{
				a{
					color:$gold;
				}
				& + p {
					transform:translateY(-5px);
					transition: transform .15s linear;
				}
			}
			& + p {
				transition: transform .15s linear;
			}
			a{
				color: #1c1c1d;
			}
		}
		p{
			position: relative;
		}
	}
	.more-news{
		display: block;
		margin: 20px auto 130px;
	}
}


.center-text{
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 60px auto;
	text-align: center;
	h2{
		margin-bottom: 10px;
	}
}
.gold-title{
	color:$gold;
	font-size: 12px;
	letter-spacing: 4px;
	line-height: 26px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

p a.read-more{
	font-style: italic;
	font-family: Heuristica;
}


.border-block{
			position: absolute;
			width: 96%;
			height: 95%;
			z-index: 15;
			@extend %middle;

			.t{
				display: block;
				position: absolute;
				top:0;
				left: 0;
				width: 0;
				height: 1px;
				background-color: $gold;
				transition:all .2s .5s linear;
			}
			.r{
				display: block;
				position: absolute;
				top:0;
				right: 0;
				width: 1px;
				height: 0;
				background-color: $gold;
				transition:all .1s .4s linear;
			}
			.b{
				display: block;
				position: absolute;
				bottom:0;
				right: 0;
				width: 0;
				height: 1px;
				background-color: $gold;
				transition:all .2s .2s linear;
			}
			.l{
				display: block;
				position: absolute;
				bottom:0;
				left: 0;
				width: 1px;
				height: 0;
				background-color: $gold;
				transition:all .1s linear;
			}

		}


.gallery-block{
	display: block;
	position: relative;
	width: 100%;
	.gallery-item{
		width: 49%;
		height: auto;
		max-height: 375px;
		display: inline-block;
		margin-bottom: 20px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		&:after{
			position: absolute;
			display: block;
			content: "";
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
			background-color: rgba(0,0,0,.3);
			transition:background-color .7s linear;
		}
		&:nth-of-type(1n){
			float: left;
		}
		&:nth-of-type(2n){
			float: right;
		}
		.gall-cont{
			position: absolute;
			width: 100%;
			text-align: center;
			z-index: 10;
			padding: 0 20px;
			@extend %middle;
			h2{
				color:#fff;
				margin-bottom: 10px;
				span{
					font-style: italic;
				}
				transition:color .5s linear;
			}
			.date{
				color: white;
				font-family: Circe;
				font-size: 20px;
				letter-spacing: 0.38px;
				line-height: 29px;
			}
		}

		img{
			display: inline-block;
			min-width: 100%;
			height: 100%;
			z-index: 1;
			transition:transform 7s .2s ease-in-out;
			transform-origin:50% 50%;
		    transform: translateX(-50%);
		    margin-left: 50%;
		}
		&:hover{
			&:after{
				background-color: rgba(0,0,0,0.5);
			}
			h2{
				color:$gold;
			}
			.border-block{
				.t{width: 100%;transition:all .2s linear;}
				.r{height: 100%;transition:all .1s .2s linear;}
				.b{width: 100%;transition:all .2s .3s linear;}
				.l{height: 100%;transition:all .1s .5s linear;}
			}
			img{
				transform: translateX(-50%) scale(1.15);
			}

		}
	}
}
.collection-list-block{
	@extend %clearfix;
}
.ccat-column{
    width: 32.15%;;
    display: block;
    float:left;
    margin-right: 16px;
    vertical-align: top;
	&:nth-of-type(3n){
		margin-right: 0;
	}
}
.more-works-block,
.publication-block{
	margin-bottom: 75px;
	@extend %clearfix;
	.ccat-column{
	    width: 24%;
	    display: block;
	    float:left;
	    margin-right: 16px;
	    vertical-align: top;
		&:nth-of-type(3n){
			margin-right: 16px;
		}
		&:nth-of-type(4n){
			margin-right: 0;
		}
	}
}
.filter-block{
	border-top: 1px solid #e5e5e5;
	padding: 30px 0;
	.title{
		letter-spacing: 5.33px;
		line-height: 26px;
		text-transform: uppercase;
	}	
	.collection-filter{
		margin: 20px 0;
	}
}
a.coll-card{
	display: block;
	width: 100%;
	color:black;
	height: auto;
	border: 1px solid #e9e9e9;
	cursor: pointer;
	transition:border-color .15s linear;
	overflow: hidden;
	margin-bottom: 20px;
	.coll-card-img{
		height: auto;
    	min-width: 100%;
	}
	.card-info{
		background-color: #fff;
		padding: 20px 15px;
		.card-title{
			font-family: Heuristica;
			font-size: 18px;
			font-weight: bold;
			line-height: 28px;
			letter-spacing: 0.2px;
			transition:color .15s linear;
			margin-bottom: 10px;
		}
		.post-descr, .year, .author{
			letter-spacing: 0.3px;
			line-height: 28px;
		}
		.author{
			color: $gold;
		}
	}

	&:hover{
		border-color: #bd911f;
		.card-info .card-title{
			color:$gold;
		}
	}
	&:active{

	}
	&:visited{
		color:#000;
	}
}

.pagination-block{
	display: block;
	text-align: center;
	margin: 50px auto 75px;
	a.pag-prev{
		display: inline-block;
		opacity: 0.4;
		color: black;
		font-family: Heuristica;
		font-style: italic;
		letter-spacing: 1.14px;
		line-height: 30px;
		margin-right: 30px;
		cursor: pointer;
		transition:all .15s linear;
		&:hover{
			color:#000;
		}
	}
	a.pag-next{
		display: inline-block;
		color: $gold;
		font-family: Heuristica;
		font-style: italic;
		letter-spacing: 1.14px;
		line-height: 30px;
		margin-left: 30px;
		cursor: pointer;
		transition:all .15s linear;
		&:hover{
			color:#000;
		}
	}
	.pag-num{
		display: inline-block;
	}
	.pag-num a{
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 10px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		line-height: 50px;
		color:#000;
		border: 1px solid #e5e5e5;
		transition:all .15s linear;
		&:hover{
			border-color: $gold;
		}
		&.active,
		&:active{
			color:#fff;
			border-color: $gold;
			background-color: $gold;
		}
	}
}


.back-to-list{
	display: block;
	position: relative;
	padding-left: 22px;
	margin-top: 35px;
	font-family: Heuristica;
	font-style: italic;
    width: 167px;
	&:after{
		display: block;
		position: absolute;
		content: "";
		top:5px;
		left: 0;
		width: 5px;
		height: 5px;
		background-color: $gold;
		box-shadow: 0 0 0 0 $gold, 7px 0 0 0 $gold,7px 7px 0 0 $gold, 0 7px 0 0 $gold;
		transition:all .15s linear;
	}
	&:hover{
		&:after{
			background-color: #000;
			box-shadow: 0 0 0 0 #000, 7px 0 0 0 #000,7px 7px 0 0 #000, 0 7px 0 0 #000;
		transition:all .15s linear;
		}
	}
}

.grey-line{
	display: block;
	width: 100%;
	max-width: 900px;
	height: 1px;
	background-color: rgba(0,0,0,0.1);
    margin: 0 auto;
}

.social-link{
	display: inline-block;
	margin-right: 35px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	transition: all .15s linear;
	&:nth-of-type(1){
		background-image: url(../images/fb.svg);
	}
	&:nth-of-type(2){
		background-image: url(../images/vk.svg);
	}
	&:nth-of-type(3){
		background-image: url(../images/tw.svg);
	}
	&:nth-of-type(4){
		background-image: url(../images/google.svg);
	}
	&:hover{
		&:nth-of-type(1){
			background-image: url(../images/fb-b.svg);
		}
		&:nth-of-type(2){
			background-image: url(../images/vk-b.svg);
		}
		&:nth-of-type(3){
			background-image: url(../images/tw-b.svg);
		}
		&:nth-of-type(4){
			background-image: url(../images/google-b.svg);
		}
	}
}

.description-block{
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 65px auto 100px;
	h5{
		font-family: Heuristica;
		font-size: 20px;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 0.5px;
	}
	.left-block{
		display: inline-block;
		width: 50%;
		margin-right: 20px;
		
	}
	.right-block{
		display: inline-block;
		width: 47%;
		vertical-align: top;
		p{
			margin-top: 0;
			letter-spacing: 0.3px;
			line-height: 28px;
		}
	}
}


table.exp-info{
	tr{
		td{
			&:first-of-type{
				color:#000;
				letter-spacing: 0.1px;
				line-height: 20px;
    			white-space: nowrap;
			}
			&:last-of-type{
				color:$gold;
				letter-spacing: 0.1px;
				line-height: 20px;
			}
		}
	}
}
.prev-project,
.next-project{
	position: fixed;
    display:inline-block;
    width: 170px;
    height: 50px;
    background-color: #fff;
    // border: 1px solid $gold;
    top: 50vh;
    margin-top:-25px;
    backface-visibility:hidden;
    color:$gold;
    overflow:hidden;
    font-family: Heuristica;
	font-size: 16px;
	font-style: italic;
    white-space:nowrap;
    user-select:none;
    z-index:10;  
    cursor:pointer;
    transition:all 0.7s;
    // text-transform: uppercase;
    background-image: none;
	letter-spacing: 0.93px;
	line-height: 21px;
    padding: 4px 0;
}
.prev-project:before,
.next-project:before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-left: 1px solid $gold;
    border-top: 1px solid $gold;
}

.prev-project{
	left:20px;
	text-align: left;
	padding-left: 50px;
	&:before {
		left:22px;
	    -ms-transform:rotate(-45deg);/*IE9*/
	    -webkit-transform:rotate(-45deg);
	    transform: rotate(-45deg);
	}
}
.next-project{
	right:20px;
	text-align: right;
	padding-right: 50px;
	&:before {
	    right:22px;
	    -ms-transform:rotate(135deg);/*IE9*/
	    -webkit-transform:rotate(135deg);
	    transform: rotate(135deg);
	}
}


.exhibition-block{
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	.exhibition-item{
		width: 49%;
		height: auto;
		max-height: 375px;
		display: inline-block;
		margin-bottom: 20px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		&:after{
			position: absolute;
			display: block;
			content: "";
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
			background-color: rgba(0,0,0,.3);
		}
		&:nth-of-type(1n){
			float: left;
		}
		&:nth-of-type(2n){
			float: right;
		}
		.gall-cont{
			position: absolute;
			width: 100%;
			text-align: center;
			z-index: 10;
			padding: 0 25px;
			margin-top: -50px;
			@extend %middle;
			h2{
				color:#fff;
				margin-bottom: 15px;
				font-size: 44px;
				font-weight: 400;
				line-height: 50px;
				span{
					font-style: italic;
				}
				transition:color .5s linear;
			}
			.description{
				color: white;
				font-family: Circe;
				font-size: 16px;
				letter-spacing: 0.3px;
				line-height: 23px;
			}
		}

			.btn-exhib{
				position: absolute;
				display: block;
				bottom: 50px;
				left: 0;
				right: 0;
				width: 250px;
				height: 50px;
				vertical-align: middle;
				line-height: 50px;
				text-align: center;
				color:#fff;
				margin: 0 auto;
				font-size: 13px;
				letter-spacing: 0.93px;
				background-color: transparent;
				cursor: pointer;
				border:1px solid #fff;
				transition:color .1 linear;
				z-index: 30;
				&:after{
					position: absolute;
					display: block;
					content: '';
					bottom: 0;
					left: 0;
					height: 0;
					width: 100%;
					background-color: #fff;
					transition: height .1s linear;
					z-index: -1;
				}
				&:hover{
					color: #000;
					&:after{
						height: 100%;
					}
				}
			}
		img{
			display: inline-block;
			min-width: 100%;
			height: 100%;
			z-index: 1;
			transition:transform 7s .2s ease-in-out;
			transform-origin:50% 50%;
		    transform: translateX(-50%);
		    margin-left: 50%;
		}
		&:hover{
			h2{
				color:$gold;
			}
			.border-block{
				.t{width: 100%;transition:all .2s linear;}
				.r{height: 100%;transition:all .1s .2s linear;}
				.b{width: 100%;transition:all .2s .3s linear;}
				.l{height: 100%;transition:all .1s .5s linear;}
			}
			img{
				transform: translateX(-50%) scale(1.15);
			}

		}
	}
}


.small-content-block{
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 30px auto 100px;
    .share-block{
    	margin: 80px 0 60px;
    }
    h2{
    	margin-bottom: 60px;
    }
}

.tags{
	display: table-row;
	.tag-item{
		display: table-cell;
		vertical-align: middle;
		display: inline-block;
		margin: 20px 20px 0 0;
	}
}
.share-block{
	margin: 20px 0 60px;
	span{
		color:#000;
		letter-spacing: 0.1px;
		line-height: 20px;
	}
	.social-link{
		margin: 0 18px -3px !important;
	}
}

.gold-title-sm{
	color:$gold;
	font-size: 12px;
	letter-spacing: 4px;
	line-height: 26px;
}

.half-cont{
	table.exp-info tr td:first-of-type{
		padding-right: 30px;
	}
}

.partner-item{
	display: block;
	position: relative;
	width: 100%;
	height: 190px;
	margin-bottom: 30px;
	border: 1px solid #e9e9e9;
	padding: 40px;
	color:#000;
	background-color: #fff;
	.p-logo{
		display: inline-block;
		width: 43%;
		top: 50%;
		left: 20px;
		text-align: center;
		img{
    		max-width: 100%;
		}
	}
	.p-description{
		display: inline-block;
		position: absolute;
		width: 50%;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		color: #000;
		font-family: Heuristica;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 0.5px;
		line-height: 31px;
	}
}

.gold{
	color:$gold;
}
.colorgold{
	color: $gold;
}
.social-icon{
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 20px;
	transition:all .15s linear;
	text-align: center;
}

#fb-icon,
#vk-icon,
#insta-icon,
#google-icon,
#tw-icon{
	transition:all .24s linear;
}


.social-block{
	margin-top: 65px;
	.social-item{
		display: block;    
		float: left;
		clear: left;
		&.gold.en i {
			margin-left: 0;
			margin-top: -3px;
			vertical-align: top;
		}
		&:hover{
			#fb-icon,
			#vk-icon,
			#insta-icon{
				fill:#000;
			}
		}
	}
}
.contact-block{
	h4{
		margin-top: 10px;
		letter-spacing: 0.5px;
		line-height: 35px;
	}
	p{
		letter-spacing: 0.3px;
		line-height: 24px;
	}
}


.adress{
	margin: 70px 0;
	h4{
		margin-top: 10px;
		letter-spacing: 0.5px;
		line-height: 35px;
	}
}

.resp-cont{
	img{
		width: 100%;
    	height: auto;
		margin-bottom:40px;

	}
}
.contact-cont,
.publication-cont{
	img{
		width: 100%;
    	height: auto;
		margin-bottom:40px;
	}
}

.leftpadd{
	padding-left: 65px;
}

.view-pdf{
	display: block;
	width: 225px;
	font-family: Heuristica;
	font-style: italic;
	margin-bottom: 30px;
	margin-top: 30px;
}

.newsslider{
	margin: 50px auto;
}





.total-graph{
			width: 100%;    
    		margin: 100px 0;
			#total-graph-svg{
				width: 100%;
			}
}



#cont-map{
	width: 100%;
	height: 600px;
}


.modal{
	&.fade{
		opacity: 0;
		&.in{
			opacity: 1;
		}
	}
	// &.fade .modal-dialog {
	// 	@include translate(0, -25%);
	// 	@include transition-transform(0.3s ease-out);
	// }
	// &.in .modal-dialog { @include translate(0, 0) }
	.modal-dialog{
		width: 100%;
		max-width: 960px;
		.modal-content{
			border-radius: 0;
			box-shadow: none;
			border-color: $gold;
			padding: 50px 100px;
			h2{
				margin-top: 20px;
			}
			.sign{
				float: right;
				margin-top: 10px;
				font-weight: bold;
				font-size: 18px;
			}
			button.close {
			    position: absolute;
			    right: 30px;
			    top: 30px;
			    width: 30px;
			    height: 30px;
			    background: transparent;
			    border: none;
			    &:focus{
			    	outline: none;
			    }

				&:after,
				&:before{
					display: block;
					position: absolute;
					content: "";
					width: 30px;
					height: 2px;
					border-radius: 5px;
					background-color: $gold;
					transform-origin: 50% 50%;
				}
				&:after{
					top:4px;
					left: 0;
					transform: rotateZ(45deg) translate(8px, 6px);
				}
				&:before{
					bottom: 4px;
					left: 0;
					transform: rotateZ(-45deg) translate(8px, -6px);
				}
			}
		}
    }
}

.open-modal{
	transform: translateX(-8px);
}


.head-title{
	opacity: 0;
	&.fadeIn{
		opacity: 1;
	}
}

#Group .flash{
		&:nth-of-type(1){
			animation-delay:.1s;
		}
		&:nth-of-type(2){
			animation-delay:.2s;
		}
		&:nth-of-type(3){
			animation-delay:.3s;
		}
		&:nth-of-type(4){
			animation-delay:.4s;
		}
		&:nth-of-type(5){
			animation-delay:.5s;
		}
		&:nth-of-type(6){
			animation-delay:.6s;
		}
		&:nth-of-type(7){
			animation-delay:.7s;
		}
}


.main-bg-img{
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	&.bg-img-1{
		background-image: url(../images/head-img_001.jpg);
	}
	&.bg-img-2{
		background-image: url(../images/slider_1_002.jpg);
	}
	&.bg-img-3{
		background-image: url(../images/slider_1_003.jpg);
	}
	&.bg-img-4{
		background-image: url(../images/slider_1_004.jpg);
	}
}