/* Barebones Compass button mixins
 *
 * Contains custom button mixins in use within the project
 *
 * See individual mixins for more info
 */

 /* Button transitions
  *
  * Set to false to disable button transitions
  */
$button-transitions: true !default;

/* Button transition duration
 *
 * Defines button transition duration
 */
$button-transition-duration: .15s !default;

/* Button transition function
 *
 * Defines button transition function
 */
$button-transition-function: linear !default;

/* Basic button mixin
 *
 * Defines font and background colors for basic color states: hover, active and
 * disabled. By default, focus state is the same as hover state, but you can set
 * different colors for focus state. By default, disabled state is inactive
 *
 * @uses $button-transitions
 * @uses $button-transition-duration
 * @uses $button-transition-function
 */
@mixin button-basic (
    $bg,        $color,
    $bg-hover,  $color-hover,
    $bg-active, $color-active,

    $bg-disabled: false,  $color-disabled: false,
    $bg-focus: $bg-hover, $color-focus: $color-hover
) {
    &,
    &:visited {
        color: $color;
    }

    background-color: $bg;

    @if $button-transitions {
        transition:
            color $button-transition-duration $button-transition-function,
            background-color $button-transition-duration $button-transition-function
        ;
    }

    @if $color-hover == $color-focus {
        &:hover,
        &:focus {
            color: $color-hover;
        }
    } @else {
        &:hover {
            color: $color-hover;
        }
        &:focus {
            color: $color-focus;
        }
    }

    @if $bg-hover == $bg-focus {
        &:hover,
        &:focus {
            background-color: $bg-hover;
        }
    } @else {
        &:hover {
            background-color: $bg-hover;
        }
        &:focus {
            background-color: $bg-focus;
        }
    }

    &:active {
        color: $color-active;

        background-color: $bg-active;
    }

    @if $bg-disabled or $color-disabled {
        &[disabled],
        &.disabled {
            @if $color-disabled {
                color: $color-disabled;
            }

            @if $bg-disabled {
                background-color: $bg-disabled;
            }
        }
    }
}
