/* Barebones fonts
 *
 * This file contains custom font imports and font stacks for different font
 * types
 */

/* Examples of font import statements
 *
 * Copy and paste outside of comment section
 *
 * Google Fonts single font face
 * @see http://www.google.com/fonts
 *
 *     @import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext);
 *
 * Google Fonts combination of font faces
 * @see http://www.google.com/fonts
 *
 *     @import url(http://fonts.googleapis.com/css?family=Roboto:400,700|PT+Serif:400,700&subset=latin,cyrillic,cyrillic-ext);
 *
 *
 *     // Example of mixin usage
 *	   @include font-face(YourAwesomeFont, '/fonts/your-awesome-font/your-awesome-font-regular');
 *     @include font-face(YourAwesomeFont, '/fonts/your-awesome-font/your-awesome-font-bold', bold);
 *     @include font-face(YourAwesomeFont, '/fonts/your-awesome-font/your-awesome-font-italic', normal, italic);
 */

/* Default font stacks
 */
// http://fontfamily.io/Helvetica_Neue,Helvetica,Arial,sans-serif
// http://fontfamily.io/Arial,Helvetica_Neue,Helvetica,sans-serif
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Cambria, Georgia, serif;
$font-monospace: Consolas, monaco, monospace;
@font-face {
  font-family: 'Circe';
  src:  url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),  
  		  url('../fonts/Circe-Regular.otf')  format('opentype'),
	      url('../fonts/Circe-Regular.woff') format('woff'), 
	      url('../fonts/Circe-Regular.ttf')  format('truetype'), 
	      url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heuristica';
  src:  url('../fonts/Heuristica-Regular.eot?#iefix') format('embedded-opentype'),  
  		  url('../fonts/Heuristica-Regular.otf')  format('opentype'),
	      url('../fonts/Heuristica-Regular.woff') format('woff'), 
	      url('../fonts/Heuristica-Regular.ttf')  format('truetype'), 
	      url('../fonts/Heuristica-Regular.svg#Heuristica-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heuristica';
  src:  url('../fonts/Heuristica-Bold.eot?#iefix') format('embedded-opentype'), 
  		  url('../fonts/Heuristica-Bold.otf')  format('opentype'),
	      url('../fonts/Heuristica-Bold.woff') format('woff'), 
	      url('../fonts/Heuristica-Bold.ttf')  format('truetype'), 
	      url('../fonts/Heuristica-Bold.svg#Heuristica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Heuristica';
  src:  url('../fonts/Heuristica-Italic.eot?#iefix') format('embedded-opentype'),  
  		  url('../fonts/Heuristica-Italic.otf')  format('opentype'),
	      url('../fonts/Heuristica-Italic.woff') format('woff'), 
	      url('../fonts/Heuristica-Italic.ttf')  format('truetype'), 
	      url('../fonts/Heuristica-Italic.svg#Heuristica-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
